.group-image-placeholder-details-page {
    height: 250px;
    width:420px;
    background-color: blue;
}

.group-header-component-container {
    display: flex;
    margin: 50px 100px 20px 100px;
}

.back-groups-link {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
}

.group-detail-text-container-details-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 20px;
}

.group-detail-text-top {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.event-public-container {
    display: flex;
    gap: 5px;
}

.admin-group-buttons {
    display: flex;
    gap: 10px;
}

.admin-group-buttons > button {
    padding: 5px;
    box-shadow: 3px 3px black;
}

.modal-container-delete {
    border-radius: 20px;
}
