.group-image-placeholder-details-page {
    height: 250px;
    width: 420px;
    object-fit: cover;
    border-radius: 10px;
}

.group-header-component-container {
    display: flex;
    margin: 50px 100px 20px 150px;
}

.back-groups-link {
    display: flex;
    gap: 5px;
    margin-bottom: 5px;
    font-weight: 600;
}

.group-detail-text-container-details-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
    padding-top: 20px;
}

.group-detail-text-top {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.group-detail-text-top > p {
    color: darkgrey;
}

.event-public-container {
    display: flex;
    gap: 5px;
    color: darkgrey;
}

.admin-group-buttons {
    display: flex;
    gap: 10px;
}

.modal-container-delete {
    background: none;
}

.admin-group-button {
    margin: 20px 0px 50px 0px;
    width: 140px;
    /* align-self: center; */
    background-color: #1699b3;
    color: white;
    padding: 10px;
    border: none;
    font-size: 17px;
    text-align: center;
    font-weight: 600;
    border-radius: 10px;
    text-decoration: none;
}

.admin-group-button:hover {
    cursor: pointer;
    background-color: #30b0c9;
}

.join-group-button {
    background-color: #FFA384;
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border: 2px solid black;
    box-shadow: 3px 3px black;
    width: 200px;
    height: 45px;
}
.join-group-button:hover {
    cursor: pointer;
}
