.event-details-page-container {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
.events-caret {
    display: flex;
    gap: 5px;
    margin-bottom: 20px;
}

.event-header {
    padding-left: 150px;
}

.event-header-wrapper {
    display: flex;
    justify-content: flex-start;
    /* padding-left: 150px; */
}

.event-details-page-image-placeholder {
    width: 40%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.event-details-main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E7F2F8;
    padding-top: 20px;
    width: 100%;
}

.event-details-middle-top {
    display: flex;
    gap: 20px;
    justify-content: center;
    height: 300px;
    width: 100%;
}

/* .event-details-middle-section {
    display: flex;
    background-color: #E7F2F8;
    gap: 15px;
   padding-top: 20px;
   justify-content: flex-start;
   padding-bottom: 20px;
} */

.event-group-image-placeholder {
    width: 90px;
    height: 55px;
    border-radius: 10px;
    object-fit: cover;
}
.event-group-chunk {
    display: flex;
    background-color: white;
    border-radius: 20px;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    text-decoration: none;
    padding: 20px;
}

.event-time-details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.event-price {
    display: flex;
    gap: 10px;
    align-items: center;
    color: darkgrey;
}
.fa-clock,
.fa-circle-dollar {
    font-size: 20px;
    color: darkgrey;
}
.fa-circle-dollar {
    display: flex;
    border: 2px solid darkgrey;
    border-radius: 100%;
    width: 22px;
    height: 22px;
    justify-content: center;
    align-items: center;
}

.event-type-micro-text {
    color: darkgrey;
}

.fa-map-pin {
    color: darkgrey;
    margin-left: 5px;
    font-size: 20px;
}

.event-micro-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    background-color: white;
    border-radius: 20px;
    gap: 15px;
   padding: 20px;
}

.event-details-right-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 30%;
    height: 100%;
}

.grey-micro {
    color: darkgrey;
}

.event-time-details {
    display: flex;
    gap: 10px;
    font-size: 14px;
}



.event-location-details {
    display: flex;
    gap: 15px;
}

.event-details-bottom-section {
    background-color: #E7F2F8;
    height: 300px;
    padding-left: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.event-details-bottom-section > h3 {
    font-size: 25px;
    margin-bottom: 15px;
}

.event-delete-button {
    color: white;
    padding: 5px 10px;
    background-color: darkgrey;
    border-radius: 10px;
    font-weight: 600;
}

.event-delete-button:hover {
    cursor: pointer;
    background-color: rgb(139, 139, 139);
}

.event-page-group-title {
    color: black;
}

.update-delete-buttons {
    display: flex;
    gap: 15px;
    font-size: 15px;
    justify-content: flex-end;
    width: 150px;
}

.group-priv {
    color: darkgrey;
}

.event-page-title {
    margin-bottom: 10px;
}

.event-host {
    color: darkgrey;
    padding-bottom: 25px;
}

.time-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    font-weight: 600;
}
