.signup-modal-wrapper {
    width: 400px;
    height: 420px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-modal-wrapper > h1 {
    font-size: 25px;
    margin: 10px;
}

.signup-modal-wrapper > form {
    display: flex;
    flex-direction: column;
    width: 90%;
    align-items: center;
}

.signup-modal-wrapper > form > label {
    display: flex;
    flex-direction: column;
    font-size: 15px;
    width: 100%;
}

.signup-modal-wrapper > form > label > input {
    width: 100%;
    height: 25px;
    background-color: lightblue;
}

.signup-submit-button {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    box-shadow: 3px 3px black;
    background-color: #FFA384;
    color: white;
    margin-bottom: 20px;
    border: 2px solid black;
}

.disabled-signup-button {
    width: 100%;
    height: 40px;
    margin-top: 10px;
    box-shadow: 3px 3px black;
    border: 2px solid black;
    background-color: lightgrey;
    color: black;
    margin-bottom: 20px;
}
