.main-event-pic-placeholder {
    width: 150px;
    height: 100px;
    background-color: green;
    margin-left: 15px;
}

.event-item-top-half {
    display: flex;
}

.event-item-container-box {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 0;
    text-decoration: none;
    color: black;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 15px;
}

.event-item-top-half-text {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
