.group-details-page-container {
    display: flex;
    flex-direction: column;
}

.event-item-container-box {
    width: 80%;
}

.upcoming-events {
    display: flex;
    justify-content: flex-start;
    background-color: #E7F2F8;
    padding-bottom: 50px;
    width: 100%;
}

.upcoming-events-inner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: flex-start;
    width: 100%;
}

.upcoming-events-inner-wrapper > h2 {
    margin-bottom: 10px;
}

.upcoming-events-container > h2 {
    margin-bottom: 10px;
}

.group-details-bottom-half {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 0 200px;
    background-color: #E7F2F8;
}
