.group-details-page-container {
    display: flex;
    flex-direction: column;
}

.event-item-container-box {
    width: 80%;
}

.upcoming-events {
    display: flex;
    justify-content: flex-start;
   padding-left: 150px;
    background-color: #E7F2F8;
    padding-bottom: 50px;
}

.upcoming-events-inner-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 600px;
}

.upcoming-events-inner-wrapper > h2 {
    margin-bottom: 10px;
}

.upcoming-events-container > h2 {
    margin-bottom: 10px;
}
