.groups-index-item-container {
    display: flex;
    padding: 10px 0px;
    border-top: 2px solid lightgrey;
    text-decoration: none;
    cursor: pointer;
    height: 150px;
    width: 100%;
}

.group-image-placeholder {
    height: 125px;
    width: 180px;
    background-color: red;
    margin-right: 5px;
    object-fit: cover;
}

.group-index-text-container {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    justify-content: space-between;
    /* width: 500px; */
}

.under-groups-text-container {
    display: flex;
    gap: 5px;
}

.under-groups-text-container > p {
    color: #74BDCB;
}

.group-index-about {
    width: 100%;
    color: black;
}

.group-list-header {
    text-decoration: none;
    color: black;
}
.list-location {
    color: darkgrey;
}
