.groups-index-item-container {
    display: flex;
    padding: 10px 0px;
    border-top: 2px solid lightgrey;
    border-bottom: 2px solid lightgrey;
}

.group-image-placeholder {
    height: 100px;
    width: 150px;
    background-color: red;
}

.group-index-text-container {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    justify-content: space-between;
}

.under-groups-text-container {
    display: flex;
    gap: 5px;
}

.under-groups-text-container > p {
    color: #74BDCB;
}

.group-index-about {
    width: 350px;
}

.group-list-header {
    text-decoration: none;
    color: black;
}
