.event-index-text-container {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.event-index-top {
    display: flex;
}

.events-index-item-container {
    display: flex;
    flex-direction: column;
    padding: 10px 0px;
    border-top: 2px solid lightgrey;
    text-decoration: none;
}

.event-index-bottom {
    margin-top: 20px;
    margin-bottom: 10px;
}

.event-type-text {
    color: darkgrey;
}

#event-start-time-list {
    font-weight: 600;
}
