.home-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.introduction-wrapper {
    display: flex;
    margin: 50px 150px 30px 150px;
}

.reading-clip-art {
    width: 400px;
    height: 350px;
    object-fit: cover;
}

.introduction-headline {
    font-weight:700;
    font-size: 50px;
    margin-bottom: 20px;
    width: 600px;
    margin-top: 30px;
}

.introduction-text {
    margin-right: 20px;
}

.how-readup-works-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#how-description {
    width: 60%;
    margin-top: 10px;
}

.how-readup-works-title {
    font-size: 35px;
}

.how-readup-works-wrapper > p {
    width: 25%;
    text-align: center;
}

.home-bottom-images {
    height: 150px;
    width: 150px;
}

.home-bottom-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 50px;
}

.home-bottom-section {
    display: flex;
    flex-direction: column;
    width: 150px;
    text-align: center;
}

.home-bottom-header {
    margin-top: 20px;
    color: black;
}

.home-bottom-link {
    text-decoration: none;
    color: teal;
    font-size: 18px;
}

.home-bottom-link:hover {
    text-decoration: underline;
}

.home-bottom-section > p {
    width: 150px;
}

.join-readup-button {
    margin: 20px 0px 50px 0px;
    width: 140px;
    align-self: center;
    background-color: #FFA384;
    color: white;
    padding: 10px;
    border: none;
    box-shadow: 3px 3px black;
    font-size: 17px;
    border: 2px solid black;
    text-align: center;
}

.join-readup-button:hover {
    cursor: pointer;
}

.logged-out-make-group-link {
    font-size: 18px;
    color: darkgrey;
}


.footer-space {
    height: 50px;
}

.signup-edges {
    border-radius: 20px;
}

.introduction-sub-text {
    width: 600px;
    font-size: 20px;
}

.fa-solid {
    color: grey;
}
