.event-form-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}


.event-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
}

#event-form-title {
    color: black;
    font-size: 25px;
    font-weight: 700;
}

.form-inputs-event {
    background-color: white;
    width: 30%;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 10px;
    height: 40px;
}

.form-inputs-event:focus {
    outline: none;
}

.form-price {
    background-color:white;
    width: 70px;
    border: 1px solid lightgrey;
    margin-bottom: 5px;
    padding: 5px 0 5px 5px;
    text-align: right;
    border-radius: 10px;
}

.form-price:focus {
    outline: none;
}

.form-dates {
    background-color: white;
    width: 180px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 5px;
}

.form-dates:focus {
    outline: none;
}

.event-form-submit-button {
    margin: 20px 0px 50px 0px;
    width: 140px;
    /* align-self: center; */
    background-color: #1699b3;
    color: white;
    padding: 10px;
    border: none;
    font-size: 17px;
    border: none;
    text-align: center;
    font-weight: 600;
    border-radius: 10px;
}

.event-form-submit-button:hover {
    cursor: pointer;
    background-color: #30b0c9;
}

.form-description {
    height: 200px;
    width: 400px;
}
