.group-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
}

.group-form-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.form-section > h2 {
    font-size: 15px;
    color: teal;
    font-weight: 400;
    margin-bottom: 5px;
}

.form-section {
    border-bottom: 2px solid darkgrey;
    width: 100%;
    padding: 10px 0;
}

.form-headers {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
}

.form-text {
    font-size: 15px;
    width: 50%;
    margin-bottom: 15px;
}

.form-inputs {
    background-color: white;
    width: 30%;
    border: 1px solid lightgrey;
    border-radius: 10px;
    margin-bottom: 5px;
    padding: 10px;
    height: 40px;
}

.form-inputs:focus {
    outline: none;
}

.form-description {
    height: 150px;
}

.form-dropdowns {
    background-color: white;
    color: darkgrey;
    border: 1px solid lightgrey;
    border-radius: 10px;
    height: 40px;
}

.form-dropdowns:focus {
    outline: none;
}

.group-form-submit-button {
    margin: 20px 0px 50px 0px;
    width: 140px;
    /* align-self: center; */
    background-color: #1699b3;
    color: white;
    padding: 10px;
    border: none;
    font-size: 17px;
    border: none;
    text-align: center;
    font-weight: 600;
    border-radius: 10px;
}

.group-form-submit-button:hover {
    cursor: pointer;
    background-color: #30b0c9;
}
.errors {
    color: red;
}

#state-input {
    width: 90px;
    margin-left: 20px;
    color: darkgrey;
}
