/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&family=Leckerli+One&display=swap');


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Comic Neue', cursive;
}


