.hidden {
    display: none;
}

.profile-dropdown {
    position: absolute;
    right: 20px;
    border: 1px solid lightgrey;
    background-color: white;
    list-style-type: none;
    top: 75px;
    border-radius: 5px;
    box-shadow: 3px 5px 5px rgba(211, 211, 211, 0.406);
    width: 200px;
    padding: 5px;
    font-size: 14px;
}

.profile-dropdown > li> button {
    background: none;
    font-size: 15px;
    padding: 5px 0 5px 10px;
    border: none;
}

.profile-dropdown > li> button:hover {
    cursor: pointer;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid lightgrey;
    height: 70px;
    padding: 0px 20px 0px 20px;
    align-items: center;
}

.right-nav-links {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 10px;
}

.right-nav-link {
    text-decoration: none;
    margin-right: 10px;
}

.right-nav-link:hover {
    cursor: pointer;
}
.user-button {
    background-color: white;
    border: none;
}

.user-button:hover {
    cursor: pointer;
}

.fa-user-circle {
    font-size: 35px;
    color: #FFA384;
}

.top-of-dropdown {
    border-bottom: 1px solid lightgrey;
    padding: 10px;
}

.middle-dropdown {
    padding: 5px 10px;
}


.dropdown-groups-link {
    text-decoration: none;
    color: black;
    margin: 10px 0;
}

.upper-profile-icon-group {
    display: flex;
    align-items: center;
    gap: 5px;
}

.upper-profile-icon-group > p {
    color: darkgrey;
    font-size: 20px;
}

.down-caret {
    margin-bottom: 5px;
}

.fa-angle-up, .fa-angle-down:hover {
    cursor: pointer;
}

#signup-top-right-button {
    /* margin: 20px 0px 50px 0px; */
    width: 100px;
    background-color: #1699b3;
    color: white;
    padding: 7px 0;
    border: none;
    font-size: 14px;
    border: 2px solid black;
    text-align: center;
    font-weight: 600;
    border-radius: 10px;
}

#signup-top-right-button:hover {
    cursor: pointer;
    background-color: #30b0c9;
}

#log-out:hover {
    cursor: pointer;
}
