.hidden {
    display: none;
}

.profile-dropdown {
    position: fixed;
    right: 20px;
    border: 2px solid black;
    background-color: white;
    list-style-type: none;
    top: 60px;
}

.profile-dropdown > li> button {
    background: none;
    font-size: 15px;
    padding: 5px 0 5px 10px;
    border: none;
}

.profile-dropdown > li> button:hover {
    cursor: pointer;
}
.top-bar {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid lightgrey;
    height: 70px;
    padding: 0px 20px 0px 20px;
    align-items: center;
}

.right-nav-links {
    display: flex;
    list-style-type: none;
    align-items: center;
}

.right-nav-link {
    text-decoration: none;
    margin-right: 10px;
}

.right-nav-link:hover {
    cursor: pointer;
}
.user-button {
    background-color: white;
    border: none;
}

.user-button:hover {
    cursor: pointer;
}

.fa-user-circle {
    font-size: 35px;
    color: #FFA384;
}

.top-of-dropdown {
    border-bottom: 2px solid black;
    padding: 10px;
}

.middle-dropdown {
    border-bottom: 2px solid black;
    padding: 5px 10px;
}

.dropdown-groups-link {
    text-decoration: none;
    color: black;
}
