.login-modal-container {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 350px;
    align-items: center;
    border-radius: 20px;
}

.login-modal-container > h1 {
    font-size: 25px;
    margin: 10px;
}

.login-modal-container > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.login-modal-container > form > label {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 10px 30px;
}

.login-modal-container > form > label > input {
    width: 100%;
    height: 25px;
    background-color: lightblue;
}

.modal-login-button {
    width: 90%;
    height: 40px;
    margin-top: 10px;
    box-shadow: 3px 3px black;
    background-color: #FFA384;
    color: white;
    border: 2px solid black;
}

.modal-login-button:hover {
    cursor: pointer;
}

.demo-user-login-link {
    margin: 30px;
    text-decoration: underline;
}

.demo-user-login-link:hover {
    cursor: pointer;
}

.disabled-login-button {
    width: 90%;
    height: 40px;
    margin-top: 10px;
    box-shadow: 3px 3px black;
    border: 2px solid black;
    background-color: lightgrey;
    color: black;
    margin-bottom: 20px;
}
